
  @import "./variables";

    .sliderItem{
      position: relative;
      filter: grayscale(100%);
      margin-right: 10px;
      transition: transform 450ms;
      transition: all 2s ease 0s;
      &:hover{
        filter: grayscale(0%);
        transform:scale(1.05)
      }
    }
    .teamDesc_container{
      text-align: center;
      padding: 40px;
      h2{
        color: $mainColor;
        font-size: 3rem;
      }
      p{
        color: white;
        font-size: 1.8rem;
        width: 60%;
        margin: 0 auto;
      }
    }



@media screen and (max-width:768px) {
  .slider_wrap{  
    .slider{
      display: flex;
      width:4000px; 
      overflow-y: hidden;
      overflow-x: scroll;
      padding-bottom:10px ;

    }
  }
}


@media screen and (max-width:425px) {
  .teamDesc_container{
    text-align: center;
    padding: 40px;
    h2{
      color: $mainColor;
      font-size: 3rem;
    }
    p{
      color: white;
      font-size: 1.8rem;
      width: 90%;
      margin: 0 auto;
    }
  }
}
