@import "./variables";

.container{
  display:flex ;
  width: 100%;
  height:80px;
  position: relative;
  z-index: 5;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  .nav_container{
    display: flex;
    justify-content: space-between;
    .nav_container_ul{
      list-style: none;
      display: flex;
      align-self: center;
      li{
        color: #515151;
        font-size: 2rem;
        margin-right:100px; 
        padding: 10px 15px;
      };
      .contact_button{
        border: 2px solid  #515151;
        padding: 10px 15px;
        border-radius: 5px;
      }
    }
  }
  .hamburguer{
    display: none;
  }
}


@media screen and (max-width:1024px) {
  .container{
    .nav_container{
      .nav_container_ul{
        display: none;
      }
    }
    .hamburguer{
      width: 44px;
      background-color: transparent;
      border: 2px solid #3D3D3D ;
      border-radius: 50%;
      height: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right:25px ;

      .hamburguer_line{
        width: 50%;
        background-color: #3D3D3D;
        height: 3px;
        margin:0 auto;
      }
    }
  }
}